In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [3]:
#Read data from ".parquet"
df_parquet = pd.read_parquet(r"D:\DATA_Analysis\Arkon\data\data2 (1).parquet")
print(df_parquet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        51 non-null     object
 1   height      46 non-null     float64
 2   mass        31 non-null     float64
 3   skin_color  51 non-null     object
 4   eye_color   51 non-null     object
 5   birth_year  13 non-null     float64
 6   hair_color  51 non-null     object
 7   sex         48 non-null     object
 8   gender      48 non-null     object
 9   species     48 non-null     object
 10  homeworld   44 non-null     object
 11  films       51 non-null     object
 12  vehicles    51 non-null     object
 13  starships   51 non-null     object
dtypes: float64(3), object(11)
memory usage: 5.7+ KB
None

In [4]:
#Read data from github
df_parquet = pd.read_parquet(r"https://raw.githubusercontent.com/anitarr/Arkon_Test/master/data/data2%20(1).parquet")
#Show data information
print(df_parquet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        51 non-null     object
 1   height      46 non-null     float64
 2   mass        31 non-null     float64
 3   skin_color  51 non-null     object
 4   eye_color   51 non-null     object
 5   birth_year  13 non-null     float64
 6   hair_color  51 non-null     object
 7   sex         48 non-null     object
 8   gender      48 non-null     object
 9   species     48 non-null     object
 10  homeworld   44 non-null     object
 11  films       51 non-null     object
 12  vehicles    51 non-null     object
 13  starships   51 non-null     object
dtypes: float64(3), object(11)
memory usage: 5.7+ KB
None

In [5]:
#Read data from github
df_data1 = pd.read_csv(r"https://raw.githubusercontent.com/anitarr/Arkon_Test/master/data/Data1.csv")
#Show data information
print(df_data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        65 non-null     object
 1   height      64 non-null     float64
 2   mass        47 non-null     float64
 3   hair_color  60 non-null     object
 4   skin_color  65 non-null     object
 5   eye_color   65 non-null     object
 6   birth_year  40 non-null     float64
 7   sex         62 non-null     object
 8   gender      62 non-null     object
 9   homeworld   61 non-null     object
 10  species     62 non-null     object
 11  films       65 non-null     object
 12  vehicles    8 non-null      object
 13  starships   18 non-null     object
dtypes: float64(3), object(11)
memory usage: 7.2+ KB
None

In [6]:
#read data from '.csv'
df_data1 = pd.read_csv(r"D:\DATA_Analysis\Arkon\data\Data1.csv")
print(df_data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        65 non-null     object
 1   height      64 non-null     float64
 2   mass        47 non-null     float64
 3   hair_color  60 non-null     object
 4   skin_color  65 non-null     object
 5   eye_color   65 non-null     object
 6   birth_year  40 non-null     float64
 7   sex         62 non-null     object
 8   gender      62 non-null     object
 9   homeworld   61 non-null     object
 10  species     62 non-null     object
 11  films       65 non-null     object
 12  vehicles    8 non-null      object
 13  starships   18 non-null     object
dtypes: float64(3), object(11)
memory usage: 7.2+ KB
None

In [7]:
# concat() to join dataFrames vertically in this case because both dataFrames have the same columns
# parameter (axis = 1) to join horizontally
df_union = pd.concat([df_parquet, df_data1], ignore_index=True)
#df_union.index = range(df_union.shape[0])
print(df_union.tail())
print(df_union.info())

                  name  height  mass skin_color eye_color  birth_year  \
111        Cliegg Lars   183.0   NaN       fair      blue        82.0
112  Poggle the Lesser   183.0  80.0      green    yellow         NaN
113    Luminara Unduli   170.0  56.2     yellow      blue        58.0
114      Barriss Offee   166.0  50.0     yellow      blue        40.0
115              Dorm√©   165.0   NaN      light     brown         NaN

    hair_color     sex     gender    species homeworld  \
111      brown    male  masculine      Human  Tatooine
112       none    male  masculine  Geonosian  Geonosis
113      black  female   feminine   Mirialan    Mirial
114      black  female   feminine   Mirialan    Mirial
115      brown  female   feminine      Human     Naboo

                                         films vehicles starships
111                       Attack of the Clones      NaN       NaN
112  Attack of the Clones, Revenge of the Sith      NaN       NaN
113  Attack of the Clones, Revenge of the Sith      NaN       NaN
114                       Attack of the Clones      NaN       NaN
115                       Attack of the Clones      NaN       NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        116 non-null    object
 1   height      110 non-null    float64
 2   mass        78 non-null     float64
 3   skin_color  116 non-null    object
 4   eye_color   116 non-null    object
 5   birth_year  53 non-null     float64
 6   hair_color  111 non-null    object
 7   sex         110 non-null    object
 8   gender      110 non-null    object
 9   species     110 non-null    object
 10  homeworld   105 non-null    object
 11  films       116 non-null    object
 12  vehicles    59 non-null     object
 13  starships   69 non-null     object
dtypes: float64(3), object(11)
memory usage: 12.8+ KB
None

In [8]:
# Remove NaN data and duplicates
df_union_dna = df_union.dropna().drop_duplicates()

# Print the resulting DataFrame
print(df_union_dna)

                name  height   mass skin_color  eye_color  birth_year  \
0              Dooku   193.0   80.0       fair      brown       102.0
2         Jango Fett   183.0   79.0        tan      brown        66.0
23        Mace Windu   188.0   84.0       dark      brown        72.0
24      Ki-Adi-Mundi   198.0   82.0       pale     yellow        92.0
30          Plo Koon   188.0   80.0     orange      black        22.0
36   Luminara Unduli   170.0   56.2     yellow       blue        58.0
37     Barriss Offee   166.0   50.0     yellow       blue        40.0
51    Luke Skywalker   172.0   77.0       fair       blue        19.0
60    Obi-Wan Kenobi   182.0   77.0       fair  blue-gray        57.0
61  Anakin Skywalker   188.0   84.0       fair       blue        41.9
63         Chewbacca   228.0  112.0    unknown       blue       200.0
67    Wedge Antilles   170.0   77.0       fair      hazel        21.0
93        Darth Maul   175.0   80.0        red     yellow        54.0

       hair_color     sex     gender   species     homeworld  \
0           white    male  masculine     Human       Serenno
2           black    male  masculine     Human  Concord Dawn
23           none    male  masculine     Human    Haruun Kal
24          white    male  masculine    Cerean         Cerea
30           none    male  masculine   Kel Dor         Dorin
36          black  female   feminine  Mirialan        Mirial
37          black  female   feminine  Mirialan        Mirial
51          blond    male  masculine     Human      Tatooine
60  auburn, white    male  masculine     Human       Stewjon
61          blond    male  masculine     Human      Tatooine
63          brown    male  masculine   Wookiee      Kashyyyk
67          brown    male  masculine     Human      Corellia
93           none    male  masculine    Zabrak      Dathomir

                                                films  \
0           Attack of the Clones, Revenge of the Sith
2                                Attack of the Clones
23  The Phantom Menace, Attack of the Clones, Reve...
24  The Phantom Menace, Attack of the Clones, Reve...
30  The Phantom Menace, Attack of the Clones, Reve...
36          Attack of the Clones, Revenge of the Sith
37                               Attack of the Clones
51  A New Hope, The Empire Strikes Back, Return of...
60  A New Hope, The Empire Strikes Back, Return of...
61  The Phantom Menace, Attack of the Clones, Reve...
63  A New Hope, The Empire Strikes Back, Return of...
67  A New Hope, The Empire Strikes Back, Return of...
93                                 The Phantom Menace

                                vehicles  \
0                       Flitknot speeder
2
23
24
30
36
37
51    Snowspeeder, Imperial Speeder Bike
60                       Tribubble bongo
61  Zephyr-G swoop bike, XJ-6 airspeeder
63                                 AT-ST
67                           Snowspeeder
93                          Sith speeder

                                            starships
0
2
23
24
30                                   Jedi starfighter
36
37
51                           X-wing, Imperial shuttle
60  Jedi starfighter, Trade Federation cruiser, Na...
61  Naboo fighter, Trade Federation cruiser, Jedi ...
63                Millennium Falcon, Imperial shuttle
67                                             X-wing
93                                           Scimitar

In [9]:
#Join dataFrame with merge()
df_merge = pd.merge(df_parquet, df_data1, on='name', how='inner', suffixes=('_1', '_2'))
df_merge = df_merge.drop_duplicates()
df_merge.index = range(df_merge.shape[0])
print(df_merge)
print(df_merge.info())

                 name  height_1  mass_1         skin_color_1 eye_color_1  \
0      Ben Quadinaros     163.0    65.0  grey, green, yellow      orange
1          Mace Windu     188.0    84.0                 dark       brown
2        Ki-Adi-Mundi     198.0    82.0                 pale      yellow
3           Kit Fisto     196.0    87.0                green       black
4           Eeth Koth     171.0     NaN                brown       brown
5          Adi Gallia     184.0    50.0                 dark        blue
6         Saesee Tiin     188.0     NaN                 pale      orange
7         Yarael Poof     264.0     NaN                white      yellow
8            Plo Koon     188.0    80.0               orange       black
9          Mas Amedda     196.0     NaN                 blue        blue
10       Gregar Typho     185.0    85.0                 dark       brown
11              Cord√©     157.0     NaN                light       brown
12        Cliegg Lars     183.0     NaN                 fair        blue
13  Poggle the Lesser     183.0    80.0                green      yellow
14    Luminara Unduli     170.0    56.2               yellow        blue
15      Barriss Offee     166.0    50.0               yellow        blue
16              Dorm√©     165.0     NaN                light       brown

    birth_year_1 hair_color_1   sex_1   gender_1   species_1  ...  \
0            NaN         none    male  masculine       Toong  ...
1           72.0         none    male  masculine       Human  ...
2           92.0        white    male  masculine      Cerean  ...
3            NaN         none    male  masculine    Nautolan  ...
4            NaN        black    male  masculine      Zabrak  ...
5            NaN         none  female   feminine  Tholothian  ...
6            NaN         none    male  masculine    Iktotchi  ...
7            NaN         none    male  masculine    Quermian  ...
8           22.0         none    male  masculine     Kel Dor  ...
9            NaN         none    male  masculine    Chagrian  ...
10           NaN        black    None       None        None  ...
11           NaN        brown    None       None        None  ...
12          82.0        brown    male  masculine       Human  ...
13           NaN         none    male  masculine   Geonosian  ...
14          58.0        black  female   feminine    Mirialan  ...
15          40.0        black  female   feminine    Mirialan  ...
16           NaN        brown  female   feminine       Human  ...

           skin_color_2 eye_color_2 birth_year_2   sex_2   gender_2  \
0   grey, green, yellow      orange          NaN    male  masculine
1                  dark       brown         72.0    male  masculine
2                  pale      yellow         92.0    male  masculine
3                 green       black          NaN    male  masculine
4                 brown       brown          NaN    male  masculine
5                  dark        blue          NaN  female   feminine
6                  pale      orange          NaN    male  masculine
7                 white      yellow          NaN    male  masculine
8                orange       black         22.0    male  masculine
9                  blue        blue          NaN    male  masculine
10                 dark       brown          NaN     NaN        NaN
11                light       brown          NaN     NaN        NaN
12                 fair        blue         82.0    male  masculine
13                green      yellow          NaN    male  masculine
14               yellow        blue         58.0  female   feminine
15               yellow        blue         40.0  female   feminine
16                light       brown          NaN  female   feminine

    homeworld_2   species_2  \
0          Tund       Toong
1    Haruun Kal       Human
2         Cerea      Cerean
3   Glee Anselm    Nautolan
4      Iridonia      Zabrak
5     Coruscant  Tholothian
6       Iktotch    Iktotchi
7       Quermia    Quermian
8         Dorin     Kel Dor
9      Champala    Chagrian
10        Naboo         NaN
11        Naboo         NaN
12     Tatooine       Human
13     Geonosis   Geonosian
14       Mirial    Mirialan
15       Mirial    Mirialan
16        Naboo       Human

                                              films_2 vehicles_2  \
0                                  The Phantom Menace        NaN
1   The Phantom Menace, Attack of the Clones, Reve...        NaN
2   The Phantom Menace, Attack of the Clones, Reve...        NaN
3   The Phantom Menace, Attack of the Clones, Reve...        NaN
4             The Phantom Menace, Revenge of the Sith        NaN
5             The Phantom Menace, Revenge of the Sith        NaN
6             The Phantom Menace, Revenge of the Sith        NaN
7                                  The Phantom Menace        NaN
8   The Phantom Menace, Attack of the Clones, Reve...        NaN
9            The Phantom Menace, Attack of the Clones        NaN
10                               Attack of the Clones        NaN
11                               Attack of the Clones        NaN
12                               Attack of the Clones        NaN
13          Attack of the Clones, Revenge of the Sith        NaN
14          Attack of the Clones, Revenge of the Sith        NaN
15                               Attack of the Clones        NaN
16                               Attack of the Clones        NaN

         starships_2
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8   Jedi starfighter
9                NaN
10     Naboo fighter
11               NaN
12               NaN
13               NaN
14               NaN
15               NaN
16               NaN

[17 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          17 non-null     object
 1   height_1      17 non-null     float64
 2   mass_1        10 non-null     float64
 3   skin_color_1  17 non-null     object
 4   eye_color_1   17 non-null     object
 5   birth_year_1  6 non-null      float64
 6   hair_color_1  17 non-null     object
 7   sex_1         15 non-null     object
 8   gender_1      15 non-null     object
 9   species_1     15 non-null     object
 10  homeworld_1   17 non-null     object
 11  films_1       17 non-null     object
 12  vehicles_1    17 non-null     object
 13  starships_1   17 non-null     object
 14  height_2      17 non-null     float64
 15  mass_2        10 non-null     float64
 16  hair_color_2  17 non-null     object
 17  skin_color_2  17 non-null     object
 18  eye_color_2   17 non-null     object
 19  birth_year_2  6 non-null      float64
 20  sex_2         15 non-null     object
 21  gender_2      15 non-null     object
 22  homeworld_2   17 non-null     object
 23  species_2     15 non-null     object
 24  films_2       17 non-null     object
 25  vehicles_2    0 non-null      object
 26  starships_2   2 non-null      object
dtypes: float64(6), object(21)
memory usage: 3.7+ KB
None

In [10]:
# Uniques Values
print("---------2 Unique Values ‚ÄúStarships‚Äù --------")
valores_unicos = df_union_dna["starships"].unique()
#DataFrame unique values of 'starships'
df_unicos = pd.DataFrame(valores_unicos, columns=['starships'])
print(df_unicos)

---------2 Unique Values ‚ÄúStarships‚Äù --------
                                           starships
0
1                                   Jedi starfighter
2                           X-wing, Imperial shuttle
3  Jedi starfighter, Trade Federation cruiser, Na...
4  Naboo fighter, Trade Federation cruiser, Jedi ...
5                Millennium Falcon, Imperial shuttle
6                                             X-wing
7                                           Scimitar

In [11]:
print("--------3 Generate a count of records grouped by [Skin_color, eye_color]-----")
count_s_e = df_union.groupby(['skin_color', 'eye_color']).size().reset_index(name='Count')

print(count_s_e)

--------3 Generate a count of records grouped by [Skin_color, eye_color]-----
             skin_color      eye_color  Count
0                  blue           blue      2
1                  blue          hazel      1
2            blue, grey         yellow      2
3                 brown           blue      1
4                 brown          brown      3
5                 brown         yellow      1
6          brown mottle         orange      1
7          brown, white  green, yellow      2
8                  dark           blue      2
9                  dark          brown      8
10                 dark           dark      1
11                 fair           blue     12
12                 fair      blue-gray      1
13                 fair          brown      5
14                 fair          hazel      1
15  fair, green, yellow         yellow      1
16                 gold         yellow      1
17                green          black      5
18                green          brown      1
19                green         orange      1
20                green            red      1
21                green         yellow      2
22          green, grey        unknown      2
23     green-tan, brown         orange      1
24                 grey          black      4
25                 grey           gold      2
26                 grey         orange      1
27           grey, blue        unknown      1
28  grey, green, yellow         orange      2
29            grey, red         orange      1
30                light           blue      3
31                light          brown      9
32                light          hazel      1
33                metal            red      1
34        mottled green            red      1
35                 none          black      1
36                 none        unknown      1
37               orange          black      2
38               orange         orange      1
39                 pale         orange      2
40                 pale           pink      1
41                 pale          white      1
42                 pale         yellow      5
43                  red         yellow      1
44     red, blue, white          black      2
45          silver, red      red, blue      2
46                  tan          brown      2
47              unknown           blue      1
48                white         yellow      3
49          white, blue          black      1
50          white, blue            red      1
51           white, red            red      1
52               yellow           blue      4

In [12]:
print("-----4. Generate a table with duplicate names and how many times they are repeated------")
name_counts = df_union['name'].value_counts().reset_index()
name_counts.columns = ['Name', 'Count']
duplicates = name_counts[name_counts['Count'] > 1]
print(duplicates)

-----4. Generate a table with duplicate names and how many times they are repeated------
                 Name  Count
0           Kit Fisto      4
1          Mace Windu      4
2        Ki-Adi-Mundi      4
3               Dorm√©      2
4           Eeth Koth      2
5        Gregar Typho      2
6          Wat Tambor      2
7         Yarael Poof      2
8       Barriss Offee      2
9            Plo Koon      2
10        Saesee Tiin      2
11              Cord√©      2
12         Adi Gallia      2
13           Grievous      2
14         Jocasta Nu      2
15         Mas Amedda      2
16    Luminara Unduli      2
17        Cliegg Lars      2
18           Shaak Ti      2
19           San Hill      2
20     Ben Quadinaros      2
21  Poggle the Lesser      2
22             R4-P17      2

In [ ]:
# Filter question 5
print("-----5 . Filters in python------")
filtered_df = df_union[
    (df_union['height'] >= 180) &
    (df_union['height'] <= 190) &
    (df_union['sex'] == 'male') &
    (df_union['hair_color'] != 'none')
]

# Select column 'name'
result = filtered_df['name']

# show results
print(result)

2             Jango Fett
14       Raymus Antilles
34           Cliegg Lars
59     Biggs Darklighter
60        Obi-Wan Kenobi
61      Anakin Skywalker
62        Wilhuff Tarkin
64              Han Solo
71             Boba Fett
88              Ric Oli√©
91         Quarsh Panaka
111          Cliegg Lars
Name: name, dtype: object

In [ ]:
#Question 6
print("-----6 . flat about column 'mass'------")
avg = df_union['mass'].mean()
print("avg = ", avg)

# create new column 'flat' and show results
df_union['flat'] = df_union['mass'].apply(lambda x: 1 if x > avg else 0)
mass_flat = df_union[['name', 'mass', 'flat']]
print(mass_flat.head(25))

avg =  92.69999999999999
                   name   mass  flat
0                 Dooku   80.0     0
1   Bail Prestor Organa    NaN     0
2            Jango Fett   79.0     0
3            Zam Wesell   55.0     0
4       Dexter Jettster  102.0     1
5               Lama Su   88.0     0
6               Taun We    NaN     0
7            Jocasta Nu    NaN     0
8                R4-P17    NaN     0
9            Wat Tambor   48.0     0
10             San Hill    NaN     0
11             Shaak Ti   57.0     0
12             Grievous  159.0     1
13              Tarfful  136.0     1
14      Raymus Antilles   79.0     0
15            Sly Moore   48.0     0
16           Tion Medon   80.0     0
17                 Finn    NaN     0
18                  Rey    NaN     0
19          Poe Dameron    NaN     0
20                  BB8    NaN     0
21       Captain Phasma    NaN     0
22       Ben Quadinaros   65.0     0
23           Mace Windu   84.0     0
24         Ki-Adi-Mundi   82.0     0

In [ ]:
# applying metrics (max, min, avg) with the aggregation function agg group by "species"
print("-----7 . Metrics column 'species'------")
result = df_union.groupby('species').agg(
    avg_height=('height', 'mean'),
    max_height=('height', 'max'),
    min_height=('height', 'min')
).reset_index()

print(result)

           species  avg_height  max_height  min_height
0           Aleena   79.000000        79.0        79.0
1         Besalisk  198.000000       198.0       198.0
2           Cerean  198.000000       198.0       198.0
3         Chagrian  196.000000       196.0       196.0
4         Clawdite  168.000000       168.0       168.0
5            Droid  125.333333       200.0        96.0
6              Dug  112.000000       112.0       112.0
7             Ewok   88.000000        88.0        88.0
8        Geonosian  183.000000       183.0       183.0
9           Gungan  208.666667       224.0       196.0
10           Human  178.305556       202.0       150.0
11            Hutt  175.000000       175.0       175.0
12        Iktotchi  188.000000       188.0       188.0
13         Kaleesh  216.000000       216.0       216.0
14        Kaminoan  221.000000       229.0       213.0
15         Kel Dor  188.000000       188.0       188.0
16        Mirialan  168.000000       170.0       166.0
17    Mon Calamari  180.000000       180.0       180.0
18            Muun  191.000000       191.0       191.0
19        Nautolan  196.000000       196.0       196.0
20       Neimodian  191.000000       191.0       191.0
21          Pau'an  206.000000       206.0       206.0
22        Quermian  264.000000       264.0       264.0
23          Rodian  173.000000       173.0       173.0
24         Skakoan  193.000000       193.0       193.0
25       Sullustan  160.000000       160.0       160.0
26      Tholothian  184.000000       184.0       184.0
27         Togruta  178.000000       178.0       178.0
28           Toong  163.000000       163.0       163.0
29       Toydarian  137.000000       137.0       137.0
30      Trandoshan  190.000000       190.0       190.0
31         Twi'lek  179.000000       180.0       178.0
32      Vulptereen   94.000000        94.0        94.0
33         Wookiee  231.000000       234.0       228.0
34           Xexto  122.000000       122.0       122.0
35  Yoda's species   66.000000        66.0        66.0
36          Zabrak  172.333333       175.0       171.0